body {
    background-color: #CBEFC4;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    margin: 20px
}

.style {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
 }
